<div class="container">
  <h1>Uh-oh!</h1>

  <div class="row">
    <div class="col-md-6">
      <p>
        You've entered a url for a race that doesn't exist.
        <a href="/races">Click here</a> for a list of all available races,
        or you can <a href="/races/new">enter a new race here</a>.
      </p>
    </div>
  </div>

</div>
