<div class="container">
  <a href="/">DnPnZ Home</a> >
    <a href="/characters">Characters</a> >
      <b>Error</b>

  <h1>Uh-oh!</h1>

  <div class="row">
    <div class="col-md-6">
      <p>
        You've entered a url for a character that doesn't exist.
        <a href="/characters">Click here</a> for a list of all available
        characters, or you can <a href="/characters/new">enter a new character
        here</a>.
      </p>
    </div>
  </div>

</div>
