<div class="container">
  <h1>Uh-oh!</h1>

  <div class="row">
    <div class="col-md-6">
      <p>
        You've entered a url for a base class that doesn't exist.
        <a href="/base_classes">Click here</a> for a list of all available
        base classes, or you can <a href="/base_classes/new">enter a new base
        class here</a>.
      </p>
    </div>
  </div>

</div>
