<dir class="container">
<h1>Home Page</h1>

<ul>
  <li><a href="/races">Races</a></li>
  <li><a href="/base_classes">Base Classes</a></li>
  <li><a href="/prestige_classes">Prestige Classes</a></li>
  <li><a href="/abilities">Abilities</a></li>
  <li><a href="/characters">Characters</a></li>
</ul>
</dir>
