<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_name %></title>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script type="text/js" src="jquery.ui.touch-punch.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
